.caros{
    background-color: rgb(102, 142, 142);
}

::placeholder{
    color: white !important;
    opacity: 1;
}

.bg{
    background-color: rgb(239, 239, 239);
}

#message{
    color: black !important;
}

#Name{
    color: black !important;
}

#Email{
    color: black !important;
}

.lan{
    transition: all 0.2s ease-in-out;
}
.lan:hover{
    transform: scale(1.05);
}

@media (min-width: 768px){
    .contact{
        width: 400px;
        margin-left: 150px;
    }
}